fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
email-validator
python-multipart
PyJWT
bcrypt
langchain
langchain-community
langchain-core
langchain-chroma
PyMuPDF
langchain-google-genai
python-dotenv
streamlit
requests
